<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formatted Text Information</title>
    <link rel="stylesheet" href="./body.component.css" />
  </head>
  <body style="color: rgb(65, 49, 29)">
    <div class="container">
      <br />
      <h1>Formatted Text Information</h1>
      <p>
        The library management system is a type of enterprise resource planning
        system that is primarily used in libraries. Enterprise resource planning
        systems provide a technological platform where an organization can
        integrate and coordinate its internal processes
      </p>
      <p>
        The library management system allows a library to keep track of all its
        books, and also manage its members. Some of the services offered by a
        library management system include book requests by the members of the
        library, and denial or issuance of the requests by the librarian.
      </p>
      <p>U can do The following</p>
      <ul>
        <li>Add</li>
        <li>Delete</li>
        <li>Fetch</li>
        <li>Update</li>
      </ul>

      <blockquote>
        "The more that you read, the more things you will know. The more that
        you learn, the more places you'll go"
      </blockquote>
      <p>
        The system has several modules that serve various functions. The
        acquisition module manages the ordering, purchase and receipt of books
        for use in the library, thereby keeping records of all incoming books.
        The cataloging module classifies and indexes books received in the
        library. This helps the library record all its books, while making also
        making it easier to access a new book. New books are indexed by a unique
        code or book ID that will simplify the identification process. The
        circulation module helps the library better manage the distribution
        process. The library, through the circulation module, can track all
        books loaned out to library users, and books returned.
      </p>
    </div>
  </body>
  <div style="background-color: rgb(255, 255, 255)"><br /></div>
  <footer>
    <p>&copy; 2023 Library Management System. All rights reserved.</p>
  </footer>
  <div style="background-color: rgb(255, 255, 255)"><br /></div>
</html>
