<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./update.component.css">
    <title>Book Management</title>
</head>
<body>
    <header>
        <h1>Book Management System</h1>
    </header>
    <main>
        <form class="book-form" (ngSubmit)="onSubmit()">
            <label for="bookName">Book Name:</label>
            <input type="text" id="bookName" name="bookName">
            
            <label for="author">Author:</label>
            <input type="text" id="author" name="author">
            
            <label for="edition">Edition:</label>
            <input type="text" id="edition" name="edition">
            
            <label>Format:</label>
            <div class="radio-buttons">
                <label><input type="radio" name="format" value="paperback">Paperback</label>
                <label><input type="radio" name="format" value="hardcover">Hardcover</label>
            </div>
            
            <div class="buttons">
                <button type="submit" id="updateButton">Update</button>
                <button type="reset" id="resetButton">Reset</button>
            </div>
        </form>
    </main>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./update.component.css">
    <title>Book Management</title>
</head>
<body>
 
    <main>
        <form class="book-form" (ngSubmit)="onSubmit()" #bookForm="ngForm">
            <label for="bookName">Book Name:</label>
            <input type="text" id="bookName" name="bookName" [(ngModel)]="book.book_name" >
            
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" [(ngModel)]="book.book_author">
            
            <label for="edition">Edition:</label>
            <input type="text" id="edition" name="edition" [(ngModel)]="book.book_edition">
            
            <!-- <label>Format:</label>
            <div class="radio-buttons">
                <label><input type="radio" name="format"  value="paperback">Paperback</label>
                <label><input type="radio" name="format"  value="hardcover">Hardcover</label>
            </div> -->
            
            <div class="buttons">
                <button type="submit" id="updateButton" >Update</button>
                <button type="reset" id="resetButton">Reset</button>
            </div>
        </form>
    </main>
</body>
</html>
