
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Contact Us</title>
     <link rel="stylesheet" href="./contactus.component.css">
 </head>
 <body class="container">
     <div class="contact-card">
         <div class="card mail-card">
            <a href="mailto:aishwaryasrao02@gmail.com"><img src="./assets/images/mail1.png" alt="Mail Icon"></a>
            <br>
             <h2>Contact us Via Mail</h2>
             <p><strong>EMAIL: </strong>aishwaryasrao02@gmail.com</p>
             <p>Click on the mail icon to direct to Mail</p>
         </div>
         <div class="card phone-card">
            <a href="tel:+916363149586"> <img src="./assets/images/phone.png" alt="Phone Icon"></a>
            <br>
             <h2>Contact us via Phone</h2>
             <p><strong>Phone: </strong>6363149586 </p>
             <p>Click on the phone icon to directly make a call.</p>
         </div>
         <div class="card address-card">
            <a href="https://maps.google.com"><img src="./assets/images/address.png" alt="Address Icon"></a>
             <h2>Address</h2>
             <p>'1-30/27','Shri Hari',Bangra kulur,Mangalore.</p>
             <p>Click on the icon to direct to map.</p>
            
         </div>
     </div>

 </body>
 <div style="background-color: rgb(255, 255, 255);"><br></div>
 <footer>
     <p>&copy; 2023 Library Management System. All rights reserved.</p>
 </footer>
 <div style="background-color: rgb(255, 255, 255);"><br></div>
 </html>
 